@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');

body {
  margin: 100px;
/*  font-family: 'Share Tech Mono', monospace; */
  font-family: 'Overpass Mono', monospace;
  font-weight:300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height:1.5;
}
.App {
  width: 800px;
}

h1,h2,h3,h4,h5 {
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
}

td {
 padding-right:2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
